<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Game</title>
</head>
<body>
    <div class="flex items-center flex-col h-[100vh] p-10">
        <header class="flex items-stretch justify-center gap-3">
            <a class="flex items-center justify-center hover:scale-110 transition-all" href="/"><ion-icon class="text-2xl" name="arrow-back-outline"></ion-icon></a>
            <h1 class="text-2xl text-center font-bold">QUE OS JOGOS COMEÇEM</h1>
        </header>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        $.ajax({
            url: 'http://http://127.0.0.1:5000/api'
        })
    </script>
</body>
</html>